:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-rest-color: #188CE8;
    --accent-color: #2196F3;
    --primary-whyte-color: #FFFFFF;
    --primary-gray-color: #212121;
    --primary-link-color: #2F303A;
    --primary-text-color: #757575;
    --primary-fon-color: #F5F5F5;
    --primary-fon2-color:#F5F4FA;
    --primary-bottom-color: rgba(255, 255, 255, 0.6);
    --transition-dur-and-func: 250ms linear;
}
body{ font-family:var(--primary-font);
font-size: 14px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--primary-whyte-color);
}
img { display: block;}

button{ cursor: pointer;
    font-family: inherit; 
}
address{
    font-style: normal;
}

h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}


.link {
    text-decoration: none;
}
.list { 
list-style: none;
}
.container {
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;  
}
.page-heder{border-bottom: 1px solid #ECECEC;
    color: var(--primary-whyte-color);}
 

            /*----Header---*/

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--accent-color);
align-items: center;}
 

.logo-header {
    color: var(--primary-gray-color);
}

.page-navigator{
    display: flex;
    align-items: center;
}
.page-nav{
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    align-items: center;
  
}
.infomation {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.index.html{
color: var(--accent-color);
}

.link.current
{color: var(--accent-color);

}
.menu-link{  
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-gray-color);
padding-top: 32px;
padding-bottom: 32px;
display: inline-block;
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
display: flex;
align-items: center;
}

.contact-mail-numbre:hover,
.contact-mail-numbre:focus,
.contact-phone-numbre:hover,
.contact-phone-numbre:focus,
.menu-link:hover,
.menu-link :focus
{color: var(--accent-color);}

.contact-mail-numbre-icon,
.contact-mail-phone-icon{
width: 16px;
height: 12px;
margin-right:10px ;
} 

.contact-mail-numbre:hover  .contact-mail-numbre-icon,
.contact-phone-numbre:hover .contact-mail-phone-icon
{ fill: var(--accent-color);}

               /*----Header---*/

               /*---Text----*/

.text-number{
    background-color: var(--primary-link-color);
}

.decision{ flex-grow: 1;
    padding-bottom: 200px;
    padding-top: 200px;
 background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url("../img/people.jpg");
 background-size: cover;  
 max-width: 1600px;
 margin-left: auto;
 margin-right: auto;

}

.title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-whyte-color) ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 700px;
   }


.model-open-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
font-family: 'Roboto', sans-serif ;
letter-spacing: 0.06em;
background: var(--accent-color);
border-radius: 4px;
color: var(--primary-whyte-color);
cursor: pointer;
margin-left: auto;
margin-right: auto;
display: block;
width: 216px;
height: 50px;
border: none;
}

   .model-open-btn:hover
   .model-open-btn:focus
   { background: var(--accent-rest-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

   .text-main 
   {background-color: var(--primary-fon-color);}
                /*---Text----*/        

              /*---SKILLST---*/

   .skills{
   background: var(--primary-whyte-color);
   padding-top: 94px;
   padding-bottom: 94px;
   }
   .text-inf{
    display: flex;
    gap: 30px;
   }
   .skills{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
   .text-skills{
    width: 270px;
   
   }
   .menu-text{
    display: flex;
   }
  
   .text-skills {
font-weight: 700;
color: var(--primary-gray-color);
font-size: 14px;
line-height: 1.87;
text-transform: uppercase;
margin-bottom: 10px;}
.tex{
display: flex;
width: 270px;
height: 120px;
background-color:  #F5F4FA;
align-items: center;
justify-content: center;
border-radius: 4px;
margin-bottom: 30px;
}
   .menu-text {
    line-height: 1.71;
    color: var(--primary-text-color); }
            /*---SKILLST---*/

           /*----TECHNOLOGIES----*/

 .technologies{
    background-color: var(--primary-whyte-color);
    padding-top: 0px;
    padding-bottom: 94px;
 }
.technologies-numbr{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-gray-color);
    margin-bottom: 50px
     }
     .foto-page{
    gap: 30px;
    display: flex;
 }
   
            /*----TECHNOLOGIES----*/
               /*---TEAM---*/

  .team-number
   {
    background-color: var(--primary-fon2-color);
    padding-top: 94px;
    padding-bottom: 94px;
   }
.system-team{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.comanda{
    background-color: #F5F4FA;
}
.team{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-gray-color);
margin-bottom: 50px;
}

.foto {
    width: 270px;
    background-color: var(--primary-whyte-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.people{
    margin-bottom: 30px;
}
.name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-gray-color);
margin-bottom: 10px;
}

.professio{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 16px;
}
.social-list {
display: flex;
justify-content: center;
column-gap: 10px;
margin-bottom: 30px; }

.social-list-link{
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color: #ffffff;
transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
background-color: var(--accent-color);
}
.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
fill: var(--primary-whyte-color);
}


            /*---TEAM---*/
            /*----Client----*/
.techno{
    background-color: var(--primary-whyte-color);
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .parmanent{
    display: flex;
    gap: 30px;
 }           
.client{
width: 170px;
height: 92px;
} 
.company{
width: 106px;
height: 60px;
} 
.cursor{
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
}
.cursor:focus,
.cursor:hover
{border-color: var(--accent-color);
fill: var(--accent-color);}

         
           /*---FOOTER---*/

.logo-second{ 
    display: flex;
background-color: var(--primary-link-color);
padding-top: 60px;
padding-bottom: 60px;}
.logo-header-second{
    color: var(--primary-whyte-color);
}
.lower{display: flex;
    gap: 70px;
    align-items: baseline
}
.location {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-whyte-color);
    }
    
.contact-mail{
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-bottom-color);
}
.contact-phone{
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--primary-bottom-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--accent-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;}
.retreat{
    margin-bottom: 9px;
}
 
.social-list-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
    }
    
.social-list-frame:hover,
.social-list-frame:focus {
background-color: var(--accent-color);
}
    .social-list-icon-footer {
        width: 20px;
        height: 20px;
        fill: var(--primary-whyte-color); 
        transition: fill var(--transition-dur-and-func); }

        .footer-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0.87;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
display: flex;
justify-content: flex-start;
margin-bottom: 20px;}

         /*---FOOTER---*/
