:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-rest-color: #188CE8;
    --accent-color: #2196F3;
    --primary-whyte-color: #FFFFFF;
    --primary-gray-color: #212121;
    --primary-link-color: #2F303A;
    --primary-text-color: #757575;
    --primary-fon-color: #F5F5F5;
    --primary-fon2-color:#F5F4FA;
    --primary-bottom-color: rgba(255, 255, 255, 0.6);
    --transition-dur-and-func: 250ms linear;
}
body{font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: var(--primary-text-color);
    }
img { display: block;}

button{ cursor: pointer;
    font-family: inherit; 
}
address{
    font-style: normal;
}
h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
 }

.link {
    text-decoration: none;
}
.list { 
 list-style: none;}

 .container {
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;  
 }
 .page-header{
    background-color: var(--primary-whyte-color);
    border-bottom: 1px solid #ECECEC;}

     /*----Header---*/

.logo {
 font-family: 'Raleway' , sans-serif ;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
color:var(--accent-color);
align-items: center;
}

.logo-header {
    color: var(--primary-gray-color);
}
.page-navigator{
    display: flex;
    align-items: center;
}
.page-nav{
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    align-items: center;
  
}
.infomation {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
              
.index.html{
color: var(--accent-color);
}
.menu-link-number{
    color: var(--accent-color);
}
.menu-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
display: inline-block;
color: var(--primary-gray-color);
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);
display: flex;
align-items: center;
}

.contact-mail-numbre-icon,
.contact-mail-phone-icon{
width: 16px;
height: 12px;
margin-right:10px ;
} 

.decision{ background-color: var(--primary-link-color);}

.number{
    padding-top: 94px;
    padding-bottom: 94px;
}

.table{
    display: flex;
   justify-content: center;
   margin-bottom: 50px;
    gap: 8px;
}

.but{
font-weight: 500;
font-size: 1.62;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-gray-color);
background: var(--primary-fon2-color);
border-radius: 4px;
padding: 6px 22px;
border: none;
}

.but:hover,
.but:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
background-color: var(--accent-color);
color:var(--primary-whyte-color);
}
                 /*---Text----*/

.item{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.dodatok-list:hover,
.dodatok-list:focus{box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.dodatok{
    height: 404px;
    width: 370px;
    
}
.dodatok-list{ text-decoration: none;
display: block;}
.txt{
    text-decoration: none;
}

.box{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.spheres{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--primary-gray-color);
margin-bottom: 4px;
}
.text{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
            /*---FOOTER---*/
.logo-second{ 
    display: flex;
background-color: var(--primary-link-color);
padding-top: 60px;
padding-bottom: 60px;}
.logo-header-second{
    color: var(--primary-whyte-color);
}
.lower{display: flex;
    gap: 70px;
    align-items: baseline
}
.location {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-whyte-color);
    }
    
.contact-mail{
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-bottom-color);
}
.contact-phone{
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--primary-bottom-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--accent-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;}
.retreat{
    margin-bottom: 9px;
}
 
.social-list-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
    }
    
.social-list-frame:hover,
.social-list-frame:focus {
background-color: var(--accent-color);
}
    .social-list-icon-footer {
        width: 20px;
        height: 20px;
        fill: var(--primary-whyte-color); 
        transition: fill var(--transition-dur-and-func); }

        .footer-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0.87;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
display: flex;
justify-content: flex-start;
margin-bottom: 20px;}
.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 30px; }
            
                     /*---FOOTER---*/
            